<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agenda Backbone</title>
	<script src="lib/require.js" data-main="app"></script>
</head>
<body>
	<h1>Agenda de Contactos con backbone</h1>

	<div class="formulario">
		<form id="nueva-persona">
			<table>
				<tr>
					<td><label>Nombre: </label></td>
					<td><input id="nombre-contacto" name="nombre-contacto" type="text"></td>
				</tr>
				<tr>
					<td><label>Dirección: </label></td>
					<td><input id="dire-contacto" name="dire-contacto" type="text"></td>
				</tr>
				<tr>
					<td><label>Edad: </label></td>
					<td><input id="edad-contacto" name="edad-contacto" type="text"></td>
				</tr>
				<tr>
					<td><button>Guardar</button></td>
				</tr>
			</table>
		</form>
	</div>

	<div class="personas">
		<div id="persona-container"></div>
	</div>

	<!-- Templates -->
	<script type="text/templates" id="persona-template">
		<span class="nombre"><%= nombre %>:</span>
		<span class="direccion"><%= direccion %>-</span>
		<span class="edad"><%= edad %></span>
	</script>
	<link rel="stylesheet" type="text/css" href="lib/css/styles.css">
</body>
</html>